html {
    box-sizing: border-box;
}

*
*::after
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
    margin: 0;
}
nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 168px;
    padding-right: 165px;
}

ul {
    list-style-type: none;
    display: flex;
    font-family: Karla, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    text-transform: uppercase;
}

.li4 a {
    
    padding: 13px 28.5px 12px 28.5px;
    text-decoration: none;
    color: #2C2830, 100%;
    transform: all 3s ease; 
}

.pl-pr {
    padding-left: 165px;
    padding-right: 165px;
}

.li4 {
    
    border: 1px solid #2C2830;
    background-color: #fff;
    padding: 13px 0 12px 0;
    margin-left: 33px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.li4 a:hover {
    cursor: pointer;
    background-color: #2C2830;
    color: #FFF;
    
    transition: 1s ease;
    
}

.ml-26 {
    margin-left: 26px;
}
.ml-25 {
    margin-left: 25px;
}

.a {
    text-decoration: none;
    color:#2C2830;
}
.gray {
    color: #837D88;
    text-decoration: none;
}
.gray:hover {
    color: #2C2830;
}

.bc {
    position: relative;
    
    height: 600px;
    background: #2D2641;
    
}
.line {
    width: 150px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top:105px
}

.asos {
    
    position: relative;
    z-index: 9;
    left: 0px;
    top: 105px;
    float: right;
}
.h1_birinchi {
    position: absolute;
    margin: 0;
    width: 540px;
    height: 140px;
    top: 169px;
    font-family: "DM Serif Display", serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
    color:#fff
    
}
.p1_birinchi {
    position: absolute;
    margin: 0;
    top: 325px;
    width: 540px;
    height: 84px;
    font: 400 16px/26px Karla, sans-serif;
    color:#fff;
    
}
.btn1 {
    position: absolute;
    padding: 13px 28.5px 12px 28.5px;
    top: 433px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font: 700 13px/15.2px Karla, sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    align-items: center;    
    
    
}

.btn1:hover {
    cursor: pointer;
    background-color: #fff;
    color: #2C2830;
    box-shadow: 0px 8px 4px rgba(17, 17, 17, 0.25);
    border: 1px solid white;
    transition: 1s ease;
}

.line_2 {
    position: absolute;
    top: 985px;
    left: 165px;
    width: 150px;
    height: 1px;
    background-color: #C396C6; 
}
.h2_nd {
    position: absolute;
    top: 1049px;
    left: 165px;
    font: normal 400 72px/64px "DM Serif Display", serif;
    margin: 0;
    letter-spacing: -1px;
}

.mid_ul {
    display: flex;
    position: absolute;
    top: 1209px;
    margin: 0px 165px 0px 0px;
    padding-left: 0px;
    width: unset;
    
}

.mid_ul li {
    width: inherit;
    position: relative;
    height: 250px;
    
}
.mid_ul li h4 {
    font: normal 400 28px/38.39px "DM Serif Display", serif;
    letter-spacing: -0,39px;
    color: #2C2830;
    margin-bottom: 16px;
}

.mid_ul li p {
    font: normal 400 16px/26px Karla, sans-serif;
    color: #837D88;
    margin: 0;
}

.li_1 img {
    position: relative;
    margin-bottom: 32px;
}

.li_2 img {
    position: relative;
    margin-bottom: 32px;
}

.li_3 img {
    position: relative;
    margin-bottom: 32px;
}

.li_1 {
    margin-right: 30px;
}
.li_2 {
    margin-right: 30px;
}

.btm {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 1617px;
    width: -webkit-fill-available;
    height: 250px;
    background-color: #2D2641;
    margin-left: 165px;
    margin-right: 165px;
    align-items: center;
    
    
}
.btm p {
    font: normal 400 56px/56px "DM Serif Display", serif;
    letter-spacing: -0.78px;
    color: #fff;
    margin: 0;
    padding: 69px 0px 69px 81px;
    width: 475px;
    height: 112px;
}

.btm .link {
    width: 160px;
    height: 40px;
    margin: 105px 80px 105px 0px;
    background-color: transparent;
    color: #fff;
    font: normal 700 13px/15.2px Karla sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
    
    
}
.btm .link:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1.5px solid #fff;
    transition: 1s ease;
}

.footer {
    position: absolute;
    width: -webkit-fill-available;
    height: 393px;
    top: 2017px;
    background: #FAFAFA;
    margin-bottom: 0;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DADADA;
    padding-top: 64px;
    padding-bottom: 33px;
}
.footer span {
    display: flex;
    justify-content: space-between;
    width: 144px;
    height: 24px;
}

.foot_ul {
    display: flex;
}
.foot_ul ul {
    width: -webkit-fill-available;;
    /* height: 159px; */
    display: flex;
    flex-direction: column;

}

table {
    width: 100%;
    text-align: justify;
}

table th {
    width: 25%;
    font: normal 700 13px/15.2px Karla, sans-serif;
    letter-spacing: 1.5px;
    color: #837D88;
    height: 99px;
}
table td {
    font: normal 700 13px/15.2px Karla, sans-serif;
    letter-spacing: 1.5px;
    color: #2D2641, 100%;
    height: 31px;
}
table td a {
    text-decoration: none;
    color: #2D2641;
}
table td a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.icon {
    /* display: inline-block; */
    width: 24px;
    height: 24px;
    background-size: cover;
}

.fb {
    
    background: url('../images/icon-facebook.svg') no-repeat;
    
}

.tw {
    
    background: url('../images/icon-twitter.svg') no-repeat;
}

.pi {
    
    background: url('../images/icon-pinterest.svg') no-repeat;
}

.in {
    
    background: url('../images/icon-instagram.svg') no-repeat;
}

.footer span a:hover {
    filter: invert(67%) sepia(34%) saturate(566754%) hue-rotate(346deg) brightness(104%) contrast(97%)
}
.attribution {
    position: absolute;
    top: 100%;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    margin-right: 330px;
}
.attribution p {
    display: inline;
}